@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@plugin "daisyui";

:root{
    background-color:  #A62C2C;
    color:white !important;
}

.drop-fundo:hover{
    background-color: #D5351D;
    color:white !important;
}